
@{
    ViewData["Title"] = "Index";
}

@model Animal

<h2>Index</h2>

<form asp-action="AddAnimal" asp-controller="Animal">
    <input asp-for="Species" />
    <input asp-for="NumberOfLegs" />

    <button type="submit">Submit</button>
</form>

