
@{
    ViewData["Title"] = "NewAnimal";
}

@model Animal

<h2>NewAnimal</h2>

<p><strong>Species</strong></p>
<p>@Model.Species</p>

<p><strong>Number of Legs</strong></p>
<p>@Model.NumberOfLegs</p>


